{%extends 'base2.html'%}
{% load static %}
{% block content %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone"></div>
 <div class="mdl-cell mdl-cell--1-col"></div>

  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
    <div class="">
      <div class="titel" style=" background: #efefef78;">
        <h1>About</h1>

      </div>
      <div class="body">
        <p>
      Covid-Tracker and Covid-Api is run by an only one  developer with the goal of making  statistics report of Corona Virus  available in a thought-provoking and time relevant format to a wide audience around the world. It is published by a small and independent only one developer in Bangladesh. We have no political, governmental, or corporate affiliation.
        </p>
      </div>
    </div>
    <div class="">
      <div class="titel" style=" background: #efefef78;">
        <h1>How it works</h1>

      </div>
      <div class="body">
        <p>
            For the COVID-19 data, we collect data from official reports,
            and Data was Scrap form International website  like <a href="https://www.worldometers.info/">Worldometer</a> and other .

        </p>
      </div>
    </div>


  </div>
  <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone"></div>

</div>
{% endblock content %}
